# Compilados
*.class
target/**
target-eclipse/**
bin/
out/
build/

# Empaquetados
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs
*.log

# Eclipse
.classpath
.project
.settings
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.launch
*.userlibraries

#Intellij IDEA
*.iml
*.ipr
*.iws
.idea

# Mac OS X
.DS_Store
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

#Otros
.svn
.gradle
