<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RegistroCivil</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345</property>
        
        <!-- JDBC connection pool (usa la integrada en Hibernate) -->
        <property name="connection.pool_size">1</property>

        <!-- Automatic session context managment -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Imprime en salida estandar las sentencias SQL efectuadas por Hibernate -->
        <property name="show_sql">true</property>
        
        <!-- Elimina y crea nuevamente el esquema cada que inicia la aplicación -->
        <property name="hbm2ddl.auto">update</property>

        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">100</property>
        <property name="c3p0.max_size">80</property>
        <property name="c3p0.max_statements">0</property>
        <property name="c3p0.min_size">50</property>
        <property name="c3p0.timeout">100</property>

        <!-- Mapeos -->
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatAtendioParto" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatComparece" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatDestinoCadaver" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatEscolaridad" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatEstado" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatEstadoCivil" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatLugarParto" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatMunicipio" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatNacionalidad" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatOficialia" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatParentesco" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatPuesto" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatRegimen" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatSituacionLaboral" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatTipoDivorcio" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatTipoDocumento" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatTipoOperacion" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatTipoParto" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatTipoSentencia" />
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatInegiLocalidad"/>
        <mapping class="mx.gob.renapo.registrocivil.catalogos.entity.CatInegiPais"/>
        <mapping class="mx.gob.renapo.registrocivil.comun.entity.Domicilio"/>
        <mapping class="mx.gob.renapo.registrocivil.comun.entity.Persona"/>
        <mapping class="mx.gob.renapo.registrocivil.actos.nacimiento.entity.Nacimiento"/>
        <mapping class="mx.gob.renapo.registrocivil.actos.matrimonio.entity.Matrimonio"/>
        <mapping class="mx.gob.renapo.registrocivil.comun.entity.Usuario" />
    </session-factory>
</hibernate-configuration>
